<%- include('templates/header',{tituloweb:"404 Not Found"}) %>

  <body>
    <h1 class="text-danger text-center my-xl-5">
      <%= Title %>
    </h1>
    <h2 class="text-info text-center">
      <%= description %>
    </h2>
    <br>
    <h2 class="text-danger text-uppercase text-center">
      <%= message %>
    </h2>
    <%- include('templates/footer') %>